<!DOCTYPE html>
<html ng-app="MovieApp">
<head>
    <title></title>
    <link href="css/bootstrap-cyborg.min.css" rel="stylesheet" />
    <link href="css/loading-bar.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />-->
	<meta charset="utf-8" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#/" translate="yes">Movie Archive</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#" translate="yes">Welcome {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/my-rated-movies" translate="yes">My Lists</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" ng-click="logOut()" translate="yes">Logout</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/login" translate="yes">Login</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/signup" translate="yes">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="page-header text-center">
                <h1 translate="yes">Movie Archive</h1>
            </div>
            <p translate="yes">This application helps you organize your watch lists, easily find details of a movie or find a movie based on your criteria to watch. Enjoy!</p>
        </div>
    </div>
    <div class="container">
        <div ng-view>
        </div>
    </div>
    <hr />
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6" translate="yes">Created by <a href="http://chakian.com" target="_blank">Çağdaş Korkut</a></div>
                <div class="col-md-6">
                    <p class="text-muted" translate="yes">Under development since 2006</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted" translate="yes">Bootstrap template: <a target="_blank" href="http://bootswatch.com/">Bootswatch Cyborg</a></p>
                    <p class="text-muted" translate="yes">Authentication API based on: <a target="_blank" href="http://bitoftech.net">bitoftech.net</a></p>
                    <p class="text-muted" translate="yes">Multilanguage support based on <a target="_blank" href="https://lostechies.com/gabrielschenker/2014/02/11/angularjspart-12-multi-language-support/">this article</a></p>
                </div>
                <div class="col-md-6">&nbsp;</div>
            </div>
        </div>
    </div>
    <!-- 3rd party libraries -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-local-storage.min.js"></script>
    <script src="js/loading-bar.min.js"></script>
    <script src="bower_components/angular-gettext/dist/angular-gettext.min.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js"></script>
    <!-- Load services -->
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/myMovieListsService.js"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/signupController.js"></script>
    <!-- Load translations script -->
    <script src="app/translations.js"></script>
</body>
</html>
