<appSettings>   
   <!-- Facebook -->
   <add key="fbAppId" value="My mail account." />
   <add key="fbAppSecret" value="My mail password." />
   <add key="fbAppToken" value="My mail password." />
   <!-- Google -->
   <add key="GoogClientID" value="1.apps.googleusercontent.com" />
   <add key="GoogClientSecret" value="My Google client secret." />
</appSettings>
