@{
    ViewBag.Title = "About";
}

@PageHelper.WriteTitle( "About", "Movie Archive" )

<p>This movie archive application (aka MArchive) was first created in 2007 to tidy up my very messy movie collection.</p>
<p>As I haven't been able to put every idea of mine into life, the application is still in development and is growing.</p>
<p>I first created it as a Windows Application.. Actually I first created it as an Excel sheet. As my needs became more complicated, I decided to upgrade to a database system.</p>
<p>Next step was an Asp.Net application.</p>
<p>Now, this system is using Asp.Net MVC 4. And it is working on .Net Framework 4 with SQL Server 2008.</p>
<p>There is also a small parser application to get movies' detailed information.</p>
<p>I am <a href="http://www.cagdaskorkut.com" target="_blank">Çağdaş</a>. You can also read <a href="http://www.cagdaskorkut.net" target="_blank">my blog entries</a> for more information.</p>
