<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MArchive.DataContext.Properties.Settings.MovieArchiveConnectionString" connectionString="Data Source=.;Initial Catalog=MovieArchive;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="MArchive.DataContext.Properties.Settings.MovieArchiveConnectionString1" connectionString="Data Source=.;Initial Catalog=MovieArchive;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
        <add name="MArchive.DataContext.Properties.Settings.MovieArchiveConnectionString2" connectionString="Data Source=localhost;Initial Catalog=MovieArchive;Persist Security Info=True;User ID=sa;Password=123456;Pooling=True;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/>
        <add name="MArchive.DataContext.Properties.Settings.MovieArchiveConnectionString3" connectionString="Data Source=GAMING8;Initial Catalog=MovieArchive;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
