<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="encryptionEnabled" value="true"/>
    <add key="passPhrase" value="passPhrase"/>
    <add key="saltValue" value="saltIt"/>
    <add key="initVector" value="3CabiK@!orealnKc"/>
  </appSettings>
</configuration>
