@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<br/><br/>icon-glass
<i class="icon-large icon-glass"></i>

<br/><br/>icon-music
<i class="icon-large icon-music"></i>

<br/><br/>icon-search
<i class="icon-large icon-search"></i>

<br/><br/>icon-envelope
<i class="icon-large icon-envelope"></i>

<br/><br/>icon-heart
<i class="icon-large icon-heart"></i>

<br/><br/>icon-star
<i class="icon-large icon-star"></i>

<br/><br/>icon-star-empty
<i class="icon-large icon-star-empty"></i>

<br/><br/>icon-user
<i class="icon-large icon-user"></i>

<br/><br/>icon-film
<i class="icon-large icon-film"></i>

<br/><br/>icon-th-large
<i class="icon-large icon-th-large"></i>

<br/><br/>icon-th
<i class="icon-large icon-th"></i>

<br/><br/>icon-th-list
<i class="icon-large icon-th-list"></i>

<br/><br/>icon-ok
<i class="icon-large icon-ok"></i>

<br/><br/>icon-remove
<i class="icon-large icon-remove"></i>

<br/><br/>icon-zoom-in
<i class="icon-large icon-zoom-in"></i>

<br /><br />--------------------<br /><br />

<br/><br/>icon-zoom-out
<i class="icon-large icon-zoom-out"></i>

<br/><br/>icon-off
<i class="icon-large icon-off"></i>

<br/><br/>icon-signal
<i class="icon-large icon-signal"></i>

<br/><br/>icon-cog
<i class="icon-large icon-cog"></i>

<br/><br/>icon-trash
<i class="icon-large icon-trash"></i>

<br/><br/>icon-home
<i class="icon-large icon-home"></i>

<br/><br/>icon-file
<i class="icon-large icon-file"></i>

<br/><br/>icon-time
<i class="icon-large icon-time"></i>

<br/><br/>icon-road
<i class="icon-large icon-road"></i>

<br/><br/>icon-download-alt
<i class="icon-large icon-download-alt"></i>

<br/><br/>icon-download
<i class="icon-large icon-download"></i>

<br/><br/>icon-upload
<i class="icon-large icon-upload"></i>

<br/><br/>icon-inbox
<i class="icon-large icon-inbox"></i>

<br/><br/>icon-play-circle
<i class="icon-large icon-play-circle"></i>

<br/><br/>icon-repeat
<i class="icon-large icon-repeat"></i>

<br /><br />--------------------<br /><br />

<br/><br/>icon-refresh
<i class="icon-large icon-refresh"></i>

<br/><br/>icon-list-alt
<i class="icon-large icon-list-alt"></i>

<br/><br/>icon-lock
<i class="icon-large icon-lock"></i>

<br/><br/>icon-flag
<i class="icon-large icon-flag"></i>

<br/><br/>icon-headphones
<i class="icon-large icon-headphones"></i>

<br/><br/>icon-volume-off
<i class="icon-large icon-volume-off"></i>

<br/><br/>icon-volume-down
<i class="icon-large icon-volume-down"></i>

<br/><br/>icon-volume-up
<i class="icon-large icon-volume-up"></i>

<br/><br/>icon-qrcode
<i class="icon-large icon-qrcode"></i>

<br/><br/>icon-barcode
<i class="icon-large icon-barcode"></i>

<br/><br/>icon-tag
<i class="icon-large icon-tag"></i>

<br/><br/>icon-tags
<i class="icon-large icon-tags"></i>

<br/><br/>icon-book
<i class="icon-large icon-book"></i>

<br/><br/>icon-bookmark
<i class="icon-large icon-bookmark"></i>

<br/><br/>icon-print
<i class="icon-large icon-print"></i>

<br /><br />--------------------<br /><br />

<br /><br />icon-camera
<i class="icon-large icon-camera"></i>

<br/><br/>icon-font
<i class="icon-large icon-font"></i>

<br/><br/>icon-bold
<i class="icon-large icon-bold"></i>

<br/><br/>icon-italic
<i class="icon-large icon-italic"></i>

<br/><br/>icon-text-height
<i class="icon-large icon-text-height"></i>

<br/><br/>icon-text-width
<i class="icon-large icon-text-width"></i>

<br/><br/>icon-align-left
<i class="icon-large icon-align-left"></i>

<br/><br/>icon-align-center
<i class="icon-large icon-align-center"></i>

<br/><br/>icon-align-right
<i class="icon-large icon-align-right"></i>

<br/><br/>icon-align-justify
<i class="icon-large icon-align-justify"></i>

<br/><br/>icon-list
<i class="icon-large icon-list"></i>

<br/><br/>icon-indent-left
<i class="icon-large icon-indent-left"></i>

<br/><br/>icon-indent-right
<i class="icon-large icon-indent-right"></i>

<br/><br/>icon-facetime-video
<i class="icon-large icon-facetime-video"></i>

<br/><br/>icon-picture
<i class="icon-large icon-picture"></i>

<br /><br />--------------------<br /><br />

<br/><br/>icon-pencil
<i class="icon-large icon-pencil"></i>

<br/><br/>icon-map-marker
<i class="icon-large icon-map-marker"></i>

<br/><br/>icon-adjust
<i class="icon-large icon-adjust"></i>

<br/><br/>icon-tint
<i class="icon-large icon-tint"></i>

<br/><br/>icon-edit
<i class="icon-large icon-edit"></i>

<br/><br/>icon-share
<i class="icon-large icon-share"></i>

<br/><br/>icon-check
<i class="icon-large icon-check"></i>

<br/><br/>icon-move
<i class="icon-large icon-move"></i>

<br/><br/>icon-step-backward
<i class="icon-large icon-step-backward"></i>

<br/><br/>icon-fast-backward
<i class="icon-large icon-fast-backward"></i>

<br/><br/>icon-backward
<i class="icon-large icon-backward"></i>

<br/><br/>icon-play
<i class="icon-large icon-play"></i>

<br/><br/>icon-pause
<i class="icon-large icon-pause"></i>

<br/><br/>icon-stop
<i class="icon-large icon-stop"></i>

<br/><br/>icon-forward
<i class="icon-large icon-forward"></i>

<br /><br />--------------------<br /><br />

<br/><br/>icon-fast-forward
<i class="icon-large icon-fast-forward"></i>

<br/><br/>icon-step-forward
<i class="icon-large icon-step-forward"></i>

<br/><br/>icon-eject
<i class="icon-large icon-eject"></i>

<br/><br/>icon-chevron-left
<i class="icon-large icon-chevron-left"></i>

<br/><br/>icon-chevron-right
<i class="icon-large icon-chevron-right"></i>

<br/><br/>icon-plus-sign
<i class="icon-large icon-plus-sign"></i>

<br/><br/>icon-minus-sign
<i class="icon-large icon-minus-sign"></i>

<br/><br/>icon-remove-sign
<i class="icon-large icon-remove-sign"></i>

<br/><br/>icon-ok-sign
<i class="icon-large icon-ok-sign"></i>

<br/><br/>icon-question-sign
<i class="icon-large icon-question-sign"></i>

<br/><br/>icon-info-sign
<i class="icon-large icon-info-sign"></i>

<br/><br/>icon-screenshot
<i class="icon-large icon-screenshot"></i>

<br/><br/>icon-remove-circle
<i class="icon-large icon-remove-circle"></i>

<br/><br/>icon-ok-circle
<i class="icon-large icon-ok-circle"></i>

<br/><br/>icon-ban-circle
<i class="icon-large icon-ban-circle"></i>

<br /><br />--------------------<br /><br />

<br/><br/>icon-arrow-left
<i class="icon-large icon-arrow-left"></i>

<br/><br/>icon-arrow-right
<i class="icon-large icon-arrow-right"></i>

<br/><br/>icon-arrow-up
<i class="icon-large icon-arrow-up"></i>

<br/><br/>icon-arrow-down
<i class="icon-large icon-arrow-down"></i>

<br/><br/>icon-share-alt
<i class="icon-large icon-share-alt"></i>

<br/><br/>icon-resize-full
<i class="icon-large icon-resize-full"></i>

<br/><br/>icon-resize-small
<i class="icon-large icon-resize-small"></i>

<br/><br/>icon-plus
<i class="icon-large icon-plus"></i>

<br/><br/>icon-minus
<i class="icon-large icon-minus"></i>

<br/><br/>icon-asterisk
<i class="icon-large icon-asterisk"></i>

<br/><br/>icon-exclamation-sign
<i class="icon-large icon-exclamation-sign"></i>

<br/><br/>icon-gift
<i class="icon-large icon-gift"></i>

<br/><br/>icon-leaf
<i class="icon-large icon-leaf"></i>

<br/><br/>icon-fire
<i class="icon-large icon-fire"></i>

<br/><br/>icon-eye-open
<i class="icon-large icon-eye-open"></i>

<br /><br />--------------------<br /><br />

<br/><br/>icon-eye-close
<i class="icon-large icon-eye-close"></i>

<br/><br/>icon-warning-sign
<i class="icon-large icon-warning-sign"></i>

<br/><br/>icon-plane
<i class="icon-large icon-plane"></i>

<br/><br/>icon-calendar
<i class="icon-large icon-calendar"></i>

<br /><br />icon-random
<i class="icon-large icon-random"></i>

<br /><br />icon-comment
<i class="icon-large icon-comment"></i>

<br /><br />icon-magnet
<i class="icon-large icon-magnet"></i>

<br /><br />icon-chevron-up
<i class="icon-large icon-chevron-up"></i>

<br /><br />icon-chevron-down
<i class="icon-large icon-chevron-down"></i>

<br /><br />icon-retweet
<i class="icon-large icon-retweet"></i>

<br /><br />icon-shopping-cart
<i class="icon-large icon-shopping-cart"></i>

<br /><br />icon-folder-close
<i class="icon-large icon-folder-close"></i>

<br /><br />icon-folder-open
<i class="icon-large icon-folder-open"></i>

<br /><br />icon-resize-vertical
<i class="icon-large icon-resize-vertical"></i>

<br /><br />icon-resize-horizontal
<i class="icon-large icon-resize-horizontal"></i>

<br /><br />--------------------<br /><br />

<br /><br />icon-bar-chart
<i class="icon-large icon-bar-chart"></i>

<br /><br />icon-twitter-sign
<i class="icon-large icon-twitter-sign"></i>

<br /><br />icon-facebook-sign
<i class="icon-large icon-facebook-sign"></i>

<br /><br />icon-camera-retro
<i class="icon-large icon-camera-retro"></i>

<br /><br />icon-key
<i class="icon-large icon-key"></i>

<br /><br />icon-cogs
<i class="icon-large icon-cogs"></i>

<br /><br />icon-comments
<i class="icon-large icon-comments"></i>

<br /><br />icon-thumbs-up
<i class="icon-large icon-thumbs-up"></i>

<br /><br />icon-thumbs-down
<i class="icon-large icon-thumbs-down"></i>

<br /><br />icon-star-half
<i class="icon-large icon-star-half"></i>

<br /><br />icon-heart-empty
<i class="icon-large icon-heart-empty"></i>

<br /><br />icon-signout
<i class="icon-large icon-signout"></i>

<br /><br />icon-linkedin-sign
<i class="icon-large icon-linkedin-sign"></i>

<br /><br />icon-pushpin
<i class="icon-large icon-pushpin"></i>

<br /><br />icon-external-link
<i class="icon-large icon-external-link"></i>

<br /><br />--------------------<br /><br />

<br /><br />icon-signin
<i class="icon-large icon-signin"></i>

<br /><br />icon-trophy
<i class="icon-large icon-trophy"></i>

<br /><br />icon-github-sign
<i class="icon-large icon-github-sign"></i>

<br /><br />icon-upload-alt
<i class="icon-large icon-upload-alt"></i>

<br /><br />icon-lemon
<i class="icon-large icon-lemon"></i>

<br /><br />icon-phone
<i class="icon-large icon-phone"></i>

<br /><br />icon-check-empty
<i class="icon-large icon-check-empty"></i>

<br /><br />icon-bookmark-empty
<i class="icon-large icon-bookmark-empty"></i>

<br /><br />icon-phone-sign
<i class="icon-large icon-phone-sign"></i>

<br /><br />icon-twitter
<i class="icon-large icon-twitter"></i>

<br /><br />icon-facebook
<i class="icon-large icon-facebook"></i>

<br /><br />icon-github
<i class="icon-large icon-github"></i>

<br /><br />icon-unlock
<i class="icon-large icon-unlock"></i>

<br /><br />icon-credit-card
<i class="icon-large icon-credit-card"></i>

<br /><br />icon-rss
<i class="icon-large icon-rss"></i>

<br /><br />--------------------<br /><br />

<br /><br />icon-hdd
<i class="icon-large icon-hdd"></i>

<br /><br />icon-bullhorn
<i class="icon-large icon-bullhorn"></i>

<br /><br />icon-bell
<i class="icon-large icon-bell"></i>

<br /><br />icon-certificate
<i class="icon-large icon-certificate"></i>

<br /><br />icon-hand-right
<i class="icon-large icon-hand-right"></i>

<br /><br />icon-hand-left
<i class="icon-large icon-hand-left"></i>

<br /><br />icon-hand-up
<i class="icon-large icon-hand-up"></i>

<br /><br />icon-hand-down
<i class="icon-large icon-hand-down"></i>

<br /><br />icon-circle-arrow-left
<i class="icon-large icon-circle-arrow-left"></i>

<br /><br />icon-circle-arrow-right
<i class="icon-large icon-circle-arrow-right"></i>

<br /><br />icon-circle-arrow-up
<i class="icon-large icon-circle-arrow-up"></i>

<br /><br />icon-circle-arrow-down
<i class="icon-large icon-circle-arrow-down"></i>

<br /><br />icon-globe
<i class="icon-large icon-globe"></i>

<br /><br />icon-wrench
<i class="icon-large icon-wrench"></i>

<br /><br />icon-tasks
<i class="icon-large icon-tasks"></i>

<br /><br />--------------------<br /><br />

<br /><br />icon-filter
<i class="icon-large icon-filter"></i>

<br /><br />icon-briefcase
<i class="icon-large icon-briefcase"></i>

<br /><br />icon-fullscreen
<i class="icon-large icon-fullscreen"></i>

<br /><br />--------------------<br /><br />

<br /><br />icon-group
<i class="icon-large icon-group"></i>

<br /><br />icon-link
<i class="icon-large icon-link"></i>

<br /><br />icon-cloud
<i class="icon-large icon-cloud"></i>

<br /><br />icon-beaker
<i class="icon-large icon-beaker"></i>

<br /><br />icon-cut
<i class="icon-large icon-cut"></i>

<br /><br />icon-copy
<i class="icon-large icon-copy"></i>

<br /><br />icon-paper-clip
<i class="icon-large icon-paper-clip"></i>

<br /><br />icon-save
<i class="icon-large icon-save"></i>

<br /><br />icon-sign-blank
<i class="icon-large icon-sign-blank"></i>

<br /><br />icon-reorder
<i class="icon-large icon-reorder"></i>

<br /><br />icon-list-ul
<i class="icon-large icon-list-ul"></i>

<br /><br />icon-list-ol
<i class="icon-large icon-list-ol"></i>

<br /><br />icon-strikethrough
<i class="icon-large icon-strikethrough"></i>

<br /><br />icon-underline
<i class="icon-large icon-underline"></i>

<br /><br />icon-table
<i class="icon-large icon-table"></i>

<br /><br />--------------------<br /><br />

<br /><br />icon-magic
<i class="icon-large icon-magic"></i>

<br /><br />icon-truck
<i class="icon-large icon-truck"></i>

<br /><br />icon-pinterest
<i class="icon-large icon-pinterest"></i>

<br /><br />icon-pinterest-sign
<i class="icon-large icon-pinterest-sign"></i>

<br /><br />icon-google-plus-sign
<i class="icon-large icon-google-plus-sign"></i>

<br /><br />icon-google-plus
<i class="icon-large icon-google-plus"></i>

<br /><br />icon-money
<i class="icon-large icon-money"></i>

<br /><br />icon-caret-down
<i class="icon-large icon-caret-down"></i>

<br /><br />icon-caret-up
<i class="icon-large icon-caret-up"></i>

<br /><br />icon-caret-left
<i class="icon-large icon-caret-left"></i>

<br /><br />icon-caret-right
<i class="icon-large icon-caret-right"></i>

<br /><br />icon-columns
<i class="icon-large icon-columns"></i>

<br /><br />icon-sort
<i class="icon-large icon-sort"></i>

<br /><br />icon-sort-down
<i class="icon-large icon-sort-down"></i>

<br /><br />icon-sort-up
<i class="icon-large icon-sort-up"></i>

<br /><br />--------------------<br /><br />

<br /><br />icon-envelope-alt
<i class="icon-large icon-envelope-alt"></i>

<br /><br />icon-linkedin
<i class="icon-large icon-linkedin"></i>

<br /><br />icon-undo
<i class="icon-large icon-undo"></i>

<br /><br />icon-legal
<i class="icon-large icon-legal"></i>

<br /><br />icon-dashboard
<i class="icon-large icon-dashboard"></i>

<br /><br />icon-comment-alt
<i class="icon-large icon-comment-alt"></i>

<br /><br />icon-comments-alt
<i class="icon-large icon-comments-alt"></i>

<br /><br />icon-bolt
<i class="icon-large icon-bolt"></i>

<br /><br />icon-sitemap
<i class="icon-large icon-sitemap"></i>

<br /><br />icon-umbrella
<i class="icon-large icon-umbrella"></i>

<br /><br />icon-paste
<i class="icon-large icon-paste"></i>

<br /><br />--------------------<br /><br />

<br /><br />icon-user-md
<i class="icon-large icon-user-md"></i>